@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "css3-mixins.scss";

body {
  font-family: 'Roboto', Arial, sans-serif;
}

h1, h2, h3 { @include text-shadow(1px 1px 2px #444); font-weight: bold; }
h1 {font-size: 180%;}
h2 {font-size: 150%;}
h3 {font-size: 120%;}
h4 {font-size: 120%;}
p { margin-bottom: 10px; }
em { font-style: italic; }
strong { font-weight: bold; }
strong em {
  color: #464;
  padding: 0px 2px;
  border-bottom: dotted 1px #aaa;
}

code {
  background: #aaa;
  border: solid 1px #333;
  border-radius: 4px;
  padding: 2px 5px;
  color: #000;
  box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.5) inset;
}

@mixin padded($p: 10px) { padding: $p; }

.v-middle { vertical-align: middle; }
.v-top {vertical-align: top; }
.v-bottom {vertical-align: bottom; }
.padded { @include padded; }