@import "defaults.scss";

.assistant {
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background: #dde;
}
.header {
  padding: 10px;
  color: #fff;
  background: #225;
  border-bottom: solid 3px #999;
}

.page {
  @include padded;

  div {
    margin: 10px 0px;
  }
}

.frame {
  padding: 10px;
  border: solid 3px #000;
  border-radius: 30px;
}

$glowWhite: 0px 0px 8px rgba(255,255,255,1.0);

.btn {
  display: inline-block;
  padding: 5px 8px;
  background: #0ff;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  @include text-shadow(0px 0px 4px rgba(0,0,0,0.75));
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
  color: #fff;

  &:hover {
    @include text-shadow($glowWhite, $glowWhite, $glowWhite, $glowWhite);
    box-shadow: 0 0 0 1px black;
    color: #000;
  }

  .fa {
    margin-right: 5px;
  }
}

.preview {
  background: #fff;
  display: block;
  margin: 10px;
  border: double 3px #888;
}

@import "overrides.scss";